/* form{
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:24px;
    padding:24px;
} */
#card-data{
  display:none;
  max-width: 300px;
  max-height:600px;
  margin: 0 auto;
  margin-top: 20vh;
  border: 3px solid #bacdd8;
}
#form-container {
    max-width: 300px;
    max-height:400px;
    margin: 0 auto;
    margin-top: 20vh;
  }
.card {
    
    background-color: white;
    border: 3px solid #bacdd8;
    padding: 8px;
    border-radius: 12px;
  }
  img {
    border-radius: 12px;
    height:214px;
    width:280px;
    object-fit:cover;
  }